*doc2vec* filter=lfs diff=lfs merge=lfs -text
*ehlersdanlos_* filter=lfs diff=lfs merge=lfs -text
*Narcolepsy_* filter=lfs diff=lfs merge=lfs -text
*_posts filter=lfs diff=lfs merge=lfs -text
*_comments* filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text


"models/**" filter=lfs diff=lfs merge=lfs -text
models/** filter=lfs diff=lfs merge=lfs -text
models/* filter=lfs diff=lfs merge=lfs -text
"results/**" filter=lfs diff=lfs merge=lfs -text
results/** filter=lfs diff=lfs merge=lfs -text
results/* filter=lfs diff=lfs merge=lfs -text
"posts/**" filter=lfs diff=lfs merge=lfs -text
posts/** filter=lfs diff=lfs merge=lfs -text
posts/* filter=lfs diff=lfs merge=lfs -text
"comments/**" filter=lfs diff=lfs merge=lfs -text
comments/** filter=lfs diff=lfs merge=lfs -text
comments/* filter=lfs diff=lfs merge=lfs -text
