*doc2vec* filter=lfs diff=lfs merge=lfs -text
*universal-sentence-encoder filter=lfs diff=lfs merge=lfs -text
*multilingual* filter=lfs diff=lfs merge=lfs -text
*_all-MiniLM-L6-v2 filter=lfs diff=lfs merge=lfs -text
*_posts filter=lfs diff=lfs merge=lfs -text
*_comments* filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text

"models/**" filter=lfs diff=lfs merge=lfs -text
models/** filter=lfs diff=lfs merge=lfs -text
models/* filter=lfs diff=lfs merge=lfs -text
"results/**" filter=lfs diff=lfs merge=lfs -text
results/** filter=lfs diff=lfs merge=lfs -text
results/* filter=lfs diff=lfs merge=lfs -text
"posts/**" filter=lfs diff=lfs merge=lfs -text
posts/** filter=lfs diff=lfs merge=lfs -text
posts/* filter=lfs diff=lfs merge=lfs -text
"comments/**" filter=lfs diff=lfs merge=lfs -text
comments/** filter=lfs diff=lfs merge=lfs -text
comments/* filter=lfs diff=lfs merge=lfs -text
